{% extends "base.html" %}
{% block titlw %}Analysis{% endblock %}
{% block header %}Analysis{% endblock %}
{% block graph %}
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                zoomEnabled: true,
                title: {
                    text: "Real Estate Rates"
                },
                axisX: {
                    title: "Area (in sq. ft)",
                    minimum: 790,
                    maximum: 2260
                },
                axisY: {
                    title: "Price (in USD)",
                    valueFormatString: "$#,##0k"
                },
                data: [{
                    type: "scatter",
                    toolTipContent: "{n}<br><b>Area: </b>{x} sq.ft<br/><b>Price: </b>${y}k",
                    dataPoints: [
                        { x: 800, y: 350, n: "Ireland" },
                        { x: 900, y: 450, n: "Ireland" },
                        { x: 850, y: 450, n: "Ireland" },
                        { x: 1250, y: 700, n: "Ireland" },
                        { x: 1100, y: 650, n: "Ireland" },
                        { x: 1350, y: 850, n: "Ireland" },
                        { x: 1200, y: 900, n: "Ireland" },
                        { x: 1410, y: 1250, n: "Ireland" },
                        { x: 1250, y: 1100, n: "Ireland" },
                        { x: 1400, y: 1150, n: "Ireland" },
                        { x: 1500, y: 1050, n: "Ireland" },
                        { x: 1330, y: 1120, n: "Ireland" },
                        { x: 1580, y: 1220, n: "Ireland" },
                        { x: 1620, y: 1400, n: "Ireland" },
                        { x: 1250, y: 1450, n: "Ireland" },
                        { x: 1350, y: 1600, n: "Ireland" },
                        { x: 1650, y: 1300, n: "Ireland" },
                        { x: 1700, y: 1620, n: "Ireland" },
                        { x: 1750, y: 1700, n: "Ireland" },
                        { x: 1830, y: 1800, n: "Ireland" },
                        { x: 1900, y: 2000, n: "Ireland" },
                        { x: 2050, y: 2200, n: "Ireland" },
                        { x: 2150, y: 1960, n: "Ireland" },
                        { x: 2250, y: 1990, n: "Ireland" }
                    ]
                }]
            });
            chart.render();

        }
    </script>
{% endblock %}
{% block content %}
<div class="container">
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</div>
{% endblock %}
