{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}Welcome!{% endblock %}
</head>
<body>
    {% block content %}
        <div class="content" style="z-index: -1; position: relative;">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <img class="col col-4 img-fluid" src="./static/img/atmo-logo.png" alt="logo">
                </div>
                <div class="row align-items-center justify-content-center">
                    <h1 class="col display-4 text-center">Prepare to Enter the Atmosphere...</h1>
                </div>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore facere voluptates suscipit similique ipsam
                    qui, eos impedit pariatur natus iusto magni voluptatum? Molestias laboriosam, quo sed necessitatibus quos at
                    vel molestiae ullam tempora ut voluptatibus hic soluta minima esse, iusto porro consequuntur reprehenderit
                    vitae facere dolor illum voluptatum, asperiores eaque. Commodi numquam praesentium quasi eaque nihil amet.
                    Facere itaque deserunt unde tenetur, accusamus quod cum, sit velit dolore ab illum quidem corporis nulla
                    quasi, maiores ipsa ratione eos. Nobis laboriosam placeat quibusdam laudantium! Sequi ut alias velit
                    distinctio omnis, dolorem maxime exercitationem ipsa nam veritatis voluptatibus magnam suscipit eius quia.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore facere voluptates suscipit similique ipsam
                    qui, eos impedit pariatur natus iusto magni voluptatum? Molestias laboriosam, quo sed necessitatibus quos at
                    vel molestiae ullam tempora ut voluptatibus hic soluta minima esse, iusto porro consequuntur reprehenderit
                    vitae facere dolor illum voluptatum, asperiores eaque. Commodi numquam praesentium quasi eaque nihil amet.
                    Facere itaque deserunt unde tenetur, accusamus quod cum, sit velit dolore ab illum quidem corporis nulla
                    quasi, maiores ipsa ratione eos. Nobis laboriosam placeat quibusdam laudantium! Sequi ut alias velit
                    distinctio omnis, dolorem maxime exercitationem ipsa nam veritatis voluptatibus magnam suscipit eius quia.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore facere voluptates suscipit similique ipsam
                    qui, eos impedit pariatur natus iusto magni voluptatum? Molestias laboriosam, quo sed necessitatibus quos at
                    vel molestiae ullam tempora ut voluptatibus hic soluta minima esse, iusto porro consequuntur reprehenderit
                    vitae facere dolor illum voluptatum, asperiores eaque. Commodi numquam praesentium quasi eaque nihil amet.
                    Facere itaque deserunt unde tenetur, accusamus quod cum, sit velit dolore ab illum quidem corporis nulla
                    quasi, maiores ipsa ratione eos. Nobis laboriosam placeat quibusdam laudantium! Sequi ut alias velit
                    distinctio omnis, dolorem maxime exercitationem ipsa nam veritatis voluptatibus magnam suscipit eius quia.
                </p>
            </div>
        </div>
    {% endblock %}
</body>
</html>
