{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}Lookup By State{% endblock %}
</head>
<body>
    {% block content %}
    <div class="container">

        <form action="/lookup">
            <div class="form-group">
                <label for="state"> <h4>Retrieve Per-Capita Income by State: </h4> </label>
                <select name="state" id="select-state">
                    {% for  member in states.items() %}
                    <option value="{{member[1]}}">{{member[0]}}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Get Stats</button>
        </form>
        {% if income %}
        <!-- {% for member in data %}
            <h3>{{member['GeoName']}}: {{member['DataValue']}}$</h3>
            {% endfor %} -->
            <h4>{{income['GeoName']}}: ${{income['DataValue']}}</h4>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>
