{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block header %}Welcome to Project Atmo{% endblock %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h3>US Population: {{population}}</h3>
    <h3>US Population Living In Poverty: {{poverty}}</h3>
    <h3>US CO<sub>2</sub> Emissions: {{emissions}} million metric tons</h3>
</div>
{% endblock %}
